@font-face {
    font-family: 'Chillax-Variable';
    src: url('../fonts/Chillax-Variable.woff2') format('woff2');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Chillax-Extralight';
    src: url('../fonts/Chillax-Extralight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Chillax-Light';
    src: url('../fonts/Chillax-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Chillax-Regular';
    src: url('../fonts/Chillax-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Chillax-Medium';
    src: url('../fonts/Chillax-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Chillax-Semibold';
    src: url('../fonts/Chillax-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Chillax-Bold';
    src: url('../fonts/Chillax-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
